:root {
    --cor1: #E0E1DD;
    --cor2: #778DA9;
    --cor3: #415A77;
    --cor4: #1B263B;
    --cor5: #0D1B2A;
    --cor6: #353535;
}



* {
    padding: 0px;
    margin: 0px;
}



header {
    background-color: var(--cor2);
    border-bottom: 3px solid black;
    padding: 25px;

}

nav {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

nav>a {
    font-family: Comic Sans Ms, Comic Sans, cursive;
    color: var(--cor5);
    font-size: 1.2em;
    text-decoration: none;
    margin: 8px;
    padding: 6px;
    transition-duration: 0.5s;
    border-radius: 8px 8px 4px 4px;
}

nav>a:hover {
    color: var(--cor1);
    font-weight: 200;
    text-decoration: underline;
}

main {
    margin: auto;
}

main p {
    margin-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif
}


main>h1 {
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.199);
    text-align: center;
    margin-bottom: 50px;
    padding-top: 10px;

}



main > p {
    font: Georgia, 'Times New Roman', Times, serif;
}


.div_principal {
    margin: 20px;
}


.div_principal div{
    margin: 20px;
}

.propriedades {
    height: 18px;
    display: inline-block;
    line-height: 18px;
    margin-right: 15px;
}